.links1 {  font-family: Verdana; font-size: 10px; font-style: normal; line-height: normal; color: #FFFFFF; font-weight: bold; text-decoration: none}
.links2 {  font-family: Verdana; font-size: 10px; font-style: normal; line-height: normal; color: #FFCC00; font-weight: bold; text-decoration: none}
.links3 {  font-family: Verdana; font-size: 10px; font-style: normal; line-height: normal; color: #CCCC00; font-weight: bold; text-decoration: none}
.links4 {  font-family: Verdana; font-size: 10px; font-style: normal; line-height: normal; color: #000000; font-weight: bold; text-decoration: none}
.cor1 {  background-color: #FFFFCC; color: #FFFFCC}
.cor2 {  color: #D0FFE0; background-color: #D0FFE0}
.cor3 {  color: #CCFFFF; background-color: #CCFFFF}
.cor4 {  color: #FFCCCC; background-color: #FFCCCC}
.corforte4 {  color: #FF0000; background-color: #FF0000}
.corforte3 {  color: #0000FF; background-color: #0000FF}
.corforte2 {  color: #009900; background-color: #009900}
.corforte1 {  color: #E0DC48; background-color: #E0DC48}
.muda1 {  font-family: Verdana; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #CCCC00; text-decoration: none}
.muda2 {  font-family: Verdana; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #009900; text-decoration: none}
.muda3 {  font-family: Verdana; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #0000FF; text-decoration: none}
.muda4 {  font-family: Verdana; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #FF0000; text-decoration: none}
